html{/* ------HTML全体に適応させる項目------ */
       overflow-y: scroll;
}
body {/* ------bodyタグ全体に適応させる項目------ */
       color: #5a5a5a;
}
h1{/* ------h1タグの項目------ */
       font-size: 260%;
}
h3{/* ------h3タグの項目------ */
       font-size: 25px;
}
a{/* ------aタグの項目------ */
       color: #ff0018;
}
.heightext{/* ------スペース(大)の項目------ */
       height: 2.5rem;
}
.heightext-thr{/* ------スペース(中)の項目------ */
       height: 1rem;
}
.heightext-sec{/* ------スペース(小)の項目------ */
       height: 0.2rem;
}
.conside{/* ------横スペースの項目------ */
       padding-left: 2.5rem;
       padding-right: 2.5rem;
}
.social{
       border: 0;
       padding: 10px 0 20px 0;
       margin: 0;
}
.social div{
       float: left;
       border: 0;
       padding: 0;
       margin: 0 5px 0px 0;
       min-height: 30px;
       line-height: 18px;
       text-indent: 0;
}


#map_here {/* ------マップ表示の項目------ */
    height: 350px;/* マップサイズ(横は可変するようにするため未指定。) */
}
.bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
}
@media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
}
hr{/* 仕切りラインの項目 */
       opacity: .45;/* 透明度 */
}
footer{
       background-color: #e5e5e5;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
       background-color: #f8f9fa;
}
.fb_iframe_widget{
       margin: 0px;
       padding: 0px;
}
.btn-group-sm>.btn, .btn-sm{
       --bs-btn-padding-y: 0.2rem;
       --bs-btn-padding-x: 0.55rem;

}
.btn-o{
       border-radius: 10px;
       margin-top: 20px;

}
.darkmode-ignore sns{
      text-align: center;

}
.bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
}
@media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
}

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.wid img{/* ------ホームの画像------ */
  width: 110vw;
  height: 80vh;
  object-fit: cover;
}
.footer03 {
 color: #808080;
 background: #e5e5e5;
 padding: 30px;
}
.footer03 a {
 color: #808080;
 text-decoration: none;
}
.footer03 a:hover {
 text-decoration: underline;
}
.footer03 .menu {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
}
.footer03 .menu li {
 margin: 0;
 padding: 0 20px;
 border-left: 1px #808080 solid;
}
.footer03 .menu li:first-child {
 padding-left: 0;
 border: none;
}
.footer03 .copyright {
 margin: 0;
 padding: 20px 0 0 0;
}


@media only screen and (max-width: 599px) {
.footer03 .menu li {
 width: 50%;
 padding: 0 20px 0 0;
 box-sizing: border-box;
 border: none;
}
}


